*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    font-family: "Open Sans";
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

input, button, textarea{
    outline: none;
    font-family: "Open Sans";
}

.container{
    width: 1240px;
    margin: 0 auto;
    padding: 0 15px;
}

header .login {
    font-size: 13px;
    line-height: 18px;
    color: #0069b4;
}

header .menu a{
    font-size: 13px;
    line-height: 28px;
    color: #333333;
}

header .phone{
    font-size: 20px;
    line-height: 20px;
    color: #333333;
    text-decoration: none;
}

header .callback{
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #0069b4;
    border-bottom: 1px dashed #0069b4;
}

header p.timing{
    font-size: 13px;
    line-height: 19px;
    color: #999999;
}

header .basket{
    font-size: 13px;
    line-height: 22px;
    color: #333333;
    text-decoration: none;
    display: inline-block;
    padding-left: 28px;
    background-repeat: no-repeat;
    background-position: left center;
}

header .basket span{
    color: #1a9547;
}

header [class*="icon"] {
    color: #caebd4;
}

header .login [class*=icon]{
    font-size: 18px;
}

header .phone [class*="icon"]{
    font-size: 20px;
}

.advantages .item span{
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    color: #333333;
}

.advantages .item p{
    font-size: 12px;
    line-height: 14px;
    color: #666666;
}

.subscribe{
    background-color: #63b849;
}

.subscribe label{
    font-size: 16px;
    color: #ffffff;
}

.subscribe input{
    font-size: 13px;
    line-height: 37px;
    color: #999999;
    border: none;
}

.subscribe button{
    font-size: 13px;
    line-height: 37px;
    text-align: center;
    color: #ffffff;
    background-color: #259c47;
    border: none;
}

.subscribe .wrap span{
    font-size: 12px;
    color: rgba(255,255,255,0.5);
}

.filter li{
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px dashed #666666;
}

.filter li a{
    text-decoration: none;
    color: #666666;
}

.card .img{
    width: 220px;
    height: 220px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card .title{
    font-size: 15px;
    line-height: 22px;
    color: #333333;
}

.card a{
    font-size: 15px;
    line-height: 22px;
    color: #0069b4;
}

.card .price{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #333333;
}

.card .price .old{
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    text-decoration: line-through;
    color: #666666;
}

.card button{
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    border: none;
    background-color: #ff7200;
}

.socials h2{
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: #666666;
}

.tabs li a{
    font-size: 14px;
    text-decoration: none;
    line-height: 45px;
    color: #999999;
}

.info .content{
    font-size: 12px;
    line-height: 18px;
    color: #333333;
}

.info .title{
    text-transform: uppercase;
}

footer{
    font-size: 13px;
    line-height: 22px;
    color: #ffffff;
    background-color: #64ba4a;
}

footer a{
    text-decoration: none;
    color: #ffffff;
}

footer a[class*="icon"]{
    font-size: 21px;
}

.socialItem:first-child, .socialItem:last-child{
    width: 290px;
    height: 400px;
}

.socialItem:nth-child(2){
    margin: 0 25px;
    width: 350px;
    height: 400px;
}

.socialItem{
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner .sale{
    width: 305px;
    height: 360px;
}

.banner .slider{
    width: 645px;
    height: 360px;
}

.banner>div{
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.breadcrumbs a, li{
    font-size: 12px;
    color: #999999;
    text-decoration: none;
}

.clientWrap .left p{
    font-size: 13px;
    color: #333333;
}

.clientForm{
    background-color: #f9f9f9;
}

.clientForm form label{
    font-size: 13px;
    color: #666666;
    font-style: italic;
}

.chooseLogoAdd .drawing{
    font-size: 13px;
    color: #333333;
}

.chooseLogoAdd .waiting{
    font-size: 11px;
    color: #999999;
}

.chooseLogoAdd label{
    font-size: 13px;
    color: #666666;
}

.logoAdd .textLogoAdd{
    font-size: 13px;
    color: #229647;
    text-decoration: underline;
}

.logoAdd label{
    font-size: 11px;
    color: #999999;
}

.quantity, .workDate, .leftInfo label{
    font-size: 13px;
    color: #666666;
    font-style: italic;
}

.formButton{
    font-size: 14px;
    color: #ffffff;
    background-color: #ff7200;
    width: 130px;
    height: 30px;
    border: 0px;
}

.clientWrap .right h3{
    font-size: 25px;
    color: #333333;
}

.clientWrap .right p{
    font-size: 13px;
    color: #333333;
}

.clientButton{
    font-size: 14px;
    color: #ffffff;
    background-color: #64ba4a;
    width: 195px;
    height: 35px;
    border: 0px;
}

.content h2{
    font-size: 25px;
    color: #333333;
}

.content h3{
    font-size: 18px;
    color: #333333;
}

.content .date{
    font-size: 12px;
    color: #aaaaaa;
}

.content p{
    font-size: 13px;
    color: #333333;
}

.otherNews{
    font-size: 13px;
    color: #0069b4;
}

.orderForm fieldset{
    border: 0px;
}

.chooseCity label{
    font-size: 13px;
    color: #666666;
    font-style: italic;
}

.chooseCity option{
    font-size: 13px;
    color: #333333;
}

.chooseDeliv label{
    font-size: 13px;
    color: #333333;
}

.chooseDeliv span{
    font-weight: 600;
    font-size: 15px;
}

.chooseDeliv p{
    font-size: 12px;
    color: #666666;
}

.chooseDeliv .additional{
    font-weight: normal;
    font-size: 12px;
    color: #f26522;
}

.delivInfo span{
    font-size: 15px;
    color: #333333;
    font-weight: 600;
}

.delivInfo label{
    font-size: 13px;
    color: #666666;
    font-style: italic;
}

.delivInfo p{
    color: #ee393e;
}

.choosePay span{
    font-weight: 600;
    font-size: 15px;
    color: #333333;
}

.choosePay label{
    font-size: 13px;
    color: #333333;
}

.choosePay p{
    font-size: 12px;
    color: #666666;
}

.yourInfo span{
    font-weight: 600;
    font-size: 15px;
    color: #333333;
}

.yourInfo label{
    font-size: 13px;
    color: #666666;
    font-style: italic;
}

.yourInfo button{
    font-size: 14px;
    color: #ffffff;
    background-color: #ea5b0c;
    width: 195px;
    height: 35px;
    border: 0px;
}